@model SLMS_FirstApproach.Models.AdminLeave

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AdminLeave</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdminId" class="control-label"></label>
                <select asp-for="AdminId" class ="form-control" asp-items="ViewBag.AdminId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LeaveId" class="control-label"></label>
                <select asp-for="LeaveId" class ="form-control" asp-items="ViewBag.LeaveId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminRemark" class="control-label"></label>
                <input asp-for="AdminRemark" class="form-control" />
                <span asp-validation-for="AdminRemark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminLeaveId" class="control-label"></label>
                <input asp-for="AdminLeaveId" class="form-control" />
                <span asp-validation-for="AdminLeaveId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
